body {
    margin: 20px;
    background-image: url("images/coding.jpg")
 }

h2, h1 {
    font-size: 1.25vw;
    font-weight: bold;
    text-decoration: dotted;
    color: white;
    background-color: black;
    height: 30px;
}

h1 {
    font-size: 1.75vw;
 
}

.education {
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: inline-block;
  }
  .movies {
    display: inline-block;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

ul, ol {
    list-style-type: none;
    padding: 20px;
    background-color: yellow;
    height: 250px;
    width: 300px;
    }

p{
    padding: 10px;
    background-color: rgb(0, 155, 251);
    color: greenyellow;  
    font-size: 30px;
    width:1500px;
    height: fit-content;
}
